<!-- One-way databinding is the passing of data one-way from the component class (.ts)
to the component template (html file) or vice versa (template to class)

  1. String interpolation (class to template)
  2. Property binding (class to template)
  3. Event binding (template to class)
-->
<h1>Component #1</h1>
<h2>This is a password generator app</h2>
<!-- {{ }} is known as String Interpolation
String interpolation allows us to pass information from the component class
to the HTML template
String interpolation is Angular syntax, not HTML syntax -->

<!-- () is event binding syntax
You place the event inside of the parentheses, and when event occurs on that
particular element, you can have it invoke a function that exists within the
component class

ex. <button (click)="onButtonClick()">Generate!</button>
-->

<!-- [] is property binding syntax
The purpose of property binding is to pass information from the class to an attribute
of the element in which the property binding syntax exists

<button [disabled]="desiredPasswordLength <= 0" (click)="onButtonClick()">Generate!</button>
-->

<label>Length of password to be generated:</label>
<div>
  <input [type]="inputType" (input)="onDesiredPasswordLengthInputChange($event)">
</div>
<div>
  {{ desiredPasswordLength }}
</div>
<div>
  <button [disabled]="desiredPasswordLength <= 0" (click)="onButtonClick()">Generate!</button>
</div>

<h2>Generated Password: {{ generatedPassword }}</h2>
