<h1>My first angular application</h1>
<p class="red-text">Hello world</p>
<p class="blue-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores pariatur modi quisquam est quo rerum, necessitatibus quod dicta, unde possimus voluptatem quasi expedita nam quas asperiores accusamus dolorum numquam beatae temporibus! Minima sint assumenda nam vel commodi eum architecto quisquam pariatur? Praesentium deleniti molestiae qui, consequuntur quidem quis error harum atque animi perferendis minus quo repudiandae magni maiores excepturi sit, pariatur velit distinctio. Vero necessitatibus quod porro labore placeat nobis. Maxime temporibus qui fuga ab quisquam consequuntur eligendi iure fugit non enim saepe, est voluptate veritatis dolorem, ducimus veniam repellat. Minus quos recusandae, dicta a laboriosam dolores explicabo? Perferendis, officia?</p>

<!-- Display sample component here -->
<app-sample></app-sample>

<!-- You can display a component over and over -->
<app-sample></app-sample>
<app-sample></app-sample>
<app-sample></app-sample>
<app-sample></app-sample>
<app-sample></app-sample>

<!-- Component Principles -->
<!--
  1. Angular apps are made up of multiple different components
  2. Components are intended to implement a single feature for the application
  that is visible on the screen
  3. Components wrap all of the HTML, CSS, and TypeScript code to
  make that component work correctly
  4. Components can be used multiple times
  5. Components can be nested inside other components
  6. The app component is the parent-most component in every
  Angular application that is initially bootstrapped and rendered to
  the page
  7. Every component has the following files:
    1. <component name>.component.html
    2. <component name>.component.css
    3. <component name>.component.ts
    4. <component name>.component.spec.ts

-->
